<% if not defined? @signin_page %>
  <% if current_user %>
    <form action="/spaces">
      <input type="submit" value="Spaces" />
    </form>
    <form action="/spaces/new">
      <input type="submit" value="List Space" />
    </form>
    <form action="/requests">
      <input type="submit" value="Requests" />
    </form>
    <form action="/sessions" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Sign out">
    </form>
  <% else %>
  <form action="/sessions/new">
    <input type="submit" value="Sign in">
  </form>
  <% end %>
<% end %>