<!DOCTYPE html>
  <html>
    <head>
      <center>
      <title>MakersBnB</title>
      <link rel='stylesheet' type='text/css' href='../css/layout.css'>
    </head>
    <body>
      <header>
        <h2>StrengthBnB</h2>
      </header>
      <main>
        <%= partial :welcome %>
        <%= partial :flash %>
        <%= yield %>
      </main>

   </center>
    </body>
  </html>
