<!DOCTYPE html>
  <html>
    <head>
      <title>MakersBnB</title>
    </head>
    <body>
      <header></header>
      <main>
        <%= yield %>
      </main>
      <footer></footer>
    </body>
  </html>
