<!DOCTYPE html>
  <html>
    <head>
      <title>MakersBnB</title>
    </head>
    <body>
      <main>
        <%= partial :welcome %>
        <%= partial :flash %>
        <%= yield %>
      </main>
      <footer></footer>
    </body>
  </html>
