<!DOCTYPE html>
  <html>
    <head>
      <center>
      <title>MakersBnB</title>
      <link rel='stylesheet' type='text/css' href='../css/layout.css'>
    </head>
    <body>
      <header>
        <h2>StrengthBnB</h2>
        <% if not defined? @signin_page %>
          <% if current_user %>
            <h2>Welcome <%= @current_user.username %></h2>
            <form action="/sessions" method="post">
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" value="Sign out">
            </form>
          <% else %>
          <form action="/sessions/new">
            <input type="submit" value="Sign in">
          </form>
          <% end %>
        <% end %>
      </header>
      <main>
        <% flash.keys.each do |type| %>
          <div data-alert class="flash <%= type %> alert-box radius">
            <%= flash[type] %>
            <!-- <a href="#" class="close">&times;</a> -->
          </div>
        <% end %>
        <%= yield %>
      </main>
      <footer></footer>
      <script
   src="https://code.jquery.com/jquery-3.2.1.min.js"
   integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
   crossorigin="anonymous"></script>


     <script src="./layout.js"></script>

   </center>
    </body>
  </html>
