<h1>
  <title>List a space:</title>
</h1>

<body>
  <form action="/spaces" method="post">
    <label for="title">Title
      <input type="text" name="title">
    </label>
    <label for="title">Description
      <input type="text" name="description">
    </label>
    <label for="title">Price per night
      <input type="text" name="price">
    </label>
    <label for="availability_start"> Available from
      <input type="date" name="availability_start">
    </label>
    <label for="availability_end"> Available to
      <input type="date" name="availability_end">
    </label>
    <input type="submit" value="List space!">
  </form>
</body>