<form action="/users" method="post">
  <div>
     <label for="name">Name: 
       <input type="text" name="name" required>
     </label>
   </div>
   <div>
     <label for="username">Email: 
       <input type="email" name="email"  required>
     </label>
   </div>
   <div>
      <input type="submit" value="Sign up!">
   </div>
 </form>