<form action="/users" method="post">

  <p><label for="name">Name:
    <input type="text" name="name" required>
  </label></p>

  <p><label for="email">Email:
    <input type="email" name="email" required>
  </label></p>

  <p><label for="password">Password:
    <input type="password" name="password" required>
  </label>

  <label for="password">Confirm password:
    <input type="password" name="password_confirmation" required>
  </label></p>

  <p id="submit_button"><input type="submit" value="Sign up!"></p><p></p>

</form>
