
<body>
  <form action="/spaces">
    <input type="submit" value="Spaces" />
  </form>
  <form action="/spaces/new">
    <input type="submit" value="List Space" />
  </form>
  <form action="/requests">
    <input type="submit" value="Requests" />
  </form>
</body>
